{% extends 'base.html.twig' %}

{% block body %}

<div class="gtco-loader"></div>
	
<div id="page">

    <!-- NAVIGATION -->
    {% include "nav/nav.html.twig" %}

    <!-- HEADER -->
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(/images/Img_document_add_1.png);">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Ajouter un document</h1>
                            <h2><a href="#" target="_blank"></a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="bg-light addtrick">
                    <div class="card">
                        <div class="card-body">
                            <h3></h3>
                            {{ include("form/_add_form.html.twig", { form: form }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- FOOTER -->
	{% include "footer/footer.html.twig" %}

</div>	

{% endblock %}
{# {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/picture_button.js') }}"></script>
    <script src="{{ asset('js/video_button.js') }}"></script>
    <script src="{{ asset('js/input_custom_file.js') }}"></script>
    <script src="{{ asset('js/picture_add_button.js') }}"></script>
{% endblock %} #}
