{% extends 'base.html.twig' %}

{% block body %}

<div class="gtco-loader"></div>
	
<div id="page">
	
<!-- NAVIGATION -->
{% include "nav/nav.html.twig" %}
{% for article in articles %}
    <div class="col-12 col-md-8 col-lg-4 my-4">
        <div class="card mb-4">
            {% if article.pictureOnFront is not null %}
                <img class="card-img-top" src="{{ asset(article.pictureOnFront.path) }}" alt="{{ article.pictureOnFront.alt }}">
            {% else %}
                <img class="card-img-top" src="{{ asset('images/image.png') }}" alt="">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">
                    {{ article.name }}
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path("article_update", { 'slug': article.slug }) }}" class="btn btn-secondary"><i class="fa fa-pencil"></i></a>
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#myModal" class="btn btn-warning" data-toggle="modal"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </h2>
                {# <a href="{{ path("article_show", { 'slug': article.slug}) }}" class="btn btn-primary">PLus d'infos →</a> #}
                {% if is_granted("ROLE_USER") %}
                    <!-- Modal HTML -->
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sûr de vouloir supprimer ce article? Cette action ne peut pas être annulée et vous ne pourrez récupérer aucune donnée.</p>
                                </div>
                                {# <div class="modal-footer">
                                    <form method="post" action="{{ path("article_delete", { 'slug': article.slug }) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.slug) }}">
                                        <a href="#" class="btn btn-info" data-dismiss="modal">Annuler</a>
                                        <button class="btn btn-danger float-right">Supprimer</button>
                                    </form>
                                </div> #}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <p>Posté le
                    {{ article.publishedAt|date("d/m/Y") }}
                    par
                    {{ article.author.username }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
<div id="gtco-features-2">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Why Choose Us</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Retina Ready</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Fully Responsive</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Ready To Use</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}